.scroll {
    &-container {
        cursor: pointer;
        position: absolute;
        z-index: 3;
        bottom: 10rem;
        left: 8rem;
        height: 11rem;
        width: 10rem;
        @include animation-fade-in (1s, $general-delay);
        &:hover {
            .scroll-text {
                color: $primary;
            }
        }
    }
    &-arrow {
        position: absolute;
        display: block;
        bottom: 0%;
        left: 50%;
        width: 2px;
        height: 100%;
        background: linear-gradient(0deg, rgba(217,151,246,1) 0%, rgba(255,255,255,0) 100%);
        @include animation-border-run(2.5s, 0.7s);

        &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 2px;
            bottom: 3px;
            right: -1.5px;
            background-color: $primary;
            transform: rotate(45deg);
        }
        &:after {
            content: '';
            position: absolute;
            width: 15px;
            height: 2px;
            bottom: 3px;
            left: -1.5px;
            background-color: $primary;
            transform: rotate(-45deg);
        }
    }

    &-text {
        position: absolute;
        top: 4rem;
        left: 25%;
        text-transform: uppercase;
        font-weight: 600;
        min-width: 10rem;
        transition: all .2s ease;
    }
}

