.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    height: 70%;
    padding: 0 4.5rem;
    @include animation-fade-in (1s, $general-delay);
    &-border {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, rgba(217,151,246,1) 0%, rgba(255,255,255,0) 100%);
    }
    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-icon {
        cursor: pointer;
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
        svg {
            width: 2rem;
            height: 2rem;
            fill: $text;
            transition: .2s ease;
        }
        
        &:hover {
            svg {
                fill: $primary;
            }
        }
    }
}
