@mixin breakpoint($bp) {
    @media (max-width: $bp) {
        @content;
    }
}

@mixin breakpoint-min($bp) {
    @media (min-width: $bp) {
        @content;
    }
}

@mixin breakpoint-height($bp) {
    @media (max-height: $bp) {
        @content;
    }
}

@mixin bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin img-background-settings {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 24;
	font-size: calc(#{$mobSize + rem} + #{$addSize} * ((100vw - 24rem) / #{$maxWidth}));
}